<h1>List Blog Post</h1>

<ul class="list-group">
    {{#each posts}}
    <li class="list-group-item">
        <h3>Title: {{this.title}}</h3>
        <h4 class="text-bold"> Author: {{this.name}}</h4>
        <p>Content: {{this.content}}</p>
    </li>
    {{/each}}
</ul>